@model IEnumerable<aspbiblio.Models.Book>
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                @*Debut du formulaire en utilisant le type Get 
                pour l'envoie des donnees au controller 
                ici Save represente la methode qui se chargera d'enregistrer
                les donnees dans le controller Roles
                *@
                @using(Html.BeginForm("Save","Purcharse",FormMethod.Post)){ 
                    <div class="form-group">
                    <label for="books_id">Nom du Livre</label>
                        <select class="form-control form-control-sm" name="books_id" id="books_id">
                            <option value="">Selectionner le nom d'un Livre</option>
                        @foreach (var item in Model) {            
                        <option value="@item.id">@Html.DisplayFor(modelItem => item.libelle)</option>
                        }
                        </select>
                    </div> 
                    <div class="form-group">
                        <label for="buying_price">Entrez le Prix d'achat</label>
                        <input type="text" name="buying_price" class="form-control" id="buying_price"  placeholder="Prix d'achat du Livre">
                    </div>  
                    <div class="form-group">
                        <label for="qty">Entrez la Quantite</label>
                        <input type="text" class="form-control" name="qty" id="qty"  placeholder="Quantity">
                    </div> 
                    <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                } 
            </div>
        </div>
    </div>
</div>