<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" asp-action="Create">
                    <div class="form-group">
                        <label for="libelle">Libelle</label>
                        <input type="text" name="libelle" class="form-control" id="libelle" placeholder="Libelle">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" class="form-control" id="description"  placeholder="Description">
                    </div>  
                    <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>