<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                @*Debut du formulaire en utilisant le type Get 
                pour l'envoie des donnees au controller 
                ici Save represente la methode qui se chargera d'enregistrer
                les donnees dans le controller Roles
                *@
                @using(Html.BeginForm("Save","Roles",FormMethod.Post)){ 
                    <div class="form-group">
                        <label for="libelle">Libelle</label>
                        <input type="text" name="libelle" class="form-control" id="libelle" placeholder="Libelle">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" class="form-control" id="description"  placeholder="Description">
                    </div>  
                    <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                } 
            </div>
        </div>
    </div>
</div>