<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                @*Debut du formulaire en utilisant le type Get 
                pour l'envoie des donnees au controller 
                ici Save represente la methode qui se chargera d'enregistrer
                les donnees dans le controller Roles
                *@
                @using(Html.BeginForm("Save","Editor",FormMethod.Get)){ 
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <label for="city">Adresse</label>
                        <input type="text" name="adress" class="form-control" id="adress"  placeholder="Adresse">
                    </div>  
                    <div class="form-group">
                        <label for="city">Pays,Ville de Residence</label>
                        <input type="text" name="city" class="form-control" id="city"  placeholder="Pays,Ville">
                    </div> 
                    <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                } 
            </div>
        </div>
    </div>
</div>