@model IEnumerable<aspbiblio.Models.Users>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
<form class="forms-sample">
    <div class="form-group">
        <label for="exampleInputUsername1">Nom de L'Utilisateur</label>
        <select class="form-control form-control-sm" id="exampleFormControlSelect3">
            <option>Selectionner Un Utilisateur</option>
            @foreach (var item in Model) {            
                <option value="@item.id">@Html.DisplayFor(modelItem => item.name)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect3">Nom du Livre</label>
        <select class="form-control form-control-sm" id="exampleFormControlSelect3">
            <option>1</option>
            @foreach (var item in Model) {            
                <option value="@item.id">@Html.DisplayFor(modelItem => item.name)</option>
            }
        </select>
    </div> 
    <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
</form>
</div>
</div>
</div>
</div>